body {
    background: rgb(228, 228, 228);
}

.container-fluid {
    font-size: 22px;
    color: white;
    
}



.navbar {
    --bs-navbar-padding-x: 2rem;
    --bs-navbar-padding-y: 2rem;
    --bs-navbar-brand-font-size: 2.25rem;
  }